<div  class="fullheight" style="background-image:url(/images/user_image.png)" />
<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<% if logged_in? %>
<p><%= link_to "feed", feeds_path %>をしてください</p>
<% else %>
<p><%= link_to "ログイン", new_session_path %>をしてください</p>
<% end %>

</div>